* {
  cursor: none !important;
}

body {
  margin: 0;
  background-image: url('../icon/back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/*捲軸外觀*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0e0105;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #F2285A;
  border-radius: 10px;
  border: 3px solid #0e0105;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F3E9EB;
}

html {
  scrollbar-color: #F2285A #0e0105;
  scrollbar-width: thin;
}

/*星星鼠標*/
#cursor-star {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 99999;
  display: none;
  filter: drop-shadow(0 0 5px rgba(255, 100, 150, 0.5));
}

/*拖尾小星星*/
.trail-star {
  position: absolute;
  z-index: 99998;
  opacity: 0.8;
  animation: fall 1s ease-in forwards;
}

.star-image {
  background-image: url('../icon/star.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  pointer-events: none;
}

#cursor-star.is-hovering {
  background-image: url('../icon/star2.png') !important;
}

/*star掉落動畫*/
@keyframes fall {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0.8);
    opacity: 0.8;
  }

  100% {
    transform: translate(var(--tx), 100px) rotate(180deg) scale(0);
    opacity: 0;
  }
}

/*HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
  z-index: 1060;
  pointer-events: none;
}

header a {
  pointer-events: auto;
}

.left-icon {
  height: 50px;
  width: auto;
}

.right-icons {
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  pointer-events: auto;
}

.like-icon {
  height: 50px;
  width: auto;
}

.login-icon {
  height: 40px;
  width: auto;
}


/*漢堡選單按鈕*/
#hamburger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1060;
  position: relative;
}

/*三條槓槓ㄉ容器*/
.hamburger-icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

/*三條槓槓初始設定*/
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #F2285A;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

/*線條初始位置*/
.hamburger-icon span:nth-child(1) {top: 0px;}
.hamburger-icon span:nth-child(2) {top: 15px;}
.hamburger-icon span:nth-child(3) {top: 30px;}

/*變成 X +active*/
.hamburger-icon.active span:nth-child(1) {
  top: 10px;
  background: #F3E9EB;
  transform: rotate(135deg);
}
.hamburger-icon.active span:nth-child(2) {
  opacity: 0;
  background: #F3E9EB;
}
.hamburger-icon.active span:nth-child(3) {
  top: 10px;
  background: #F3E9EB;
  transform: rotate(-135deg);
}

/*側邊滑出選單*/
.slanted-menu {
  background-color: #0e0105 !important;
  color: #F3E9EB;
  border: none;
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 0% 100%);
  width: 350px !important;
  transform-origin: top left;
  transform: translateX(100%) rotate(-15deg) !important;
  transition: transform 0.3s ease-out;
  visibility: hidden;
}

.offcanvas.show {
  transform: translateX(0) rotate(0deg) !important;
  visibility: visible;
}

.container {
  padding: 3rem 0;
}

/*選單容器*/
.menu-body {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem 4rem 1rem 0 !important;
}

.menu-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: block;
  width: 100%;
}

.full-menu-link {
  font-family: 'Konkhmer Sleokchher', sans-serif !important;
  font-size: 2.5rem !important;
  font-weight: 900 !important;
  color: #F3E9EB !important;
  text-transform: uppercase;
  padding: 10px 0;
  transition: 0.3s !important;
  display: block;
  text-align: right;
  text-decoration: none;
}

.full-menu-link:hover {
  color: #F2285A !important;
  padding-right: 20px !important;
}

.mobile-menu-icons {
  display: none;
}


/*login*/
.login-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  padding-top: 150px;
}

.login-title-container hr {
  border: none;
  height: 2px !important;
  background-color: #F2285A;
  opacity: 1 !important;
  margin: 0 15px;
  flex: 1;
  /*讓線段自動伸縮，填滿剩餘空間*/
  max-width: 189px;
  /*限制最大長度*/
  min-width: 30px;
}

.login-title-container div {
  color: #F2285A;
  font-size: 40px;
  font-family: "Konkhmer Sleokchher";

}

.login {
  font-family: "Konkhmer Sleokchher";
  font-size: 40px;
  color: #F2285A;
  text-align: center;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.form {
  width: 600px;
  height: auto;
  background-color: #312C2C;
  margin: 5px auto;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

#label1 {
  margin-top: 21px;
}

/* 登入系統 */
.label {
  display: block;
  color: #F3E9EB;
  font-family: "Konkhmer Sleokchher";
  font-size: 23px;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  width: 398px;
  height: 52px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.button {
  width: 199px;
  height: 52px;
  background-color: #F2285A;
  color: #F3E9EB;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Konkhmer Sleokchher";
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.button:hover {
  background-color: #F3E9EB;
  color: #F2285A;
}

.forget {
  margin-top: 20px;
  color: lightblue;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
}

.forget:hover {
  text-decoration: underline;
}


img {
  max-width: 100%;
  height: auto;
}

/* 確保輸入框不會超出表單 */
.input {
  max-width: 100%;
  box-sizing: border-box;
}


/*RWD<1024*/
@media (max-width: 1024px) {


  #cursor-star {
    display: none !important;
  }

  * {
    cursor: auto !important;
  }

  .form {
    width: 80%;
    max-width: 522px;
  }

  .input {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}

/*RWD<768*/
@media (max-width: 768px) {
  header .nav-icon {
    display: none !important;
  }

  .mobile-menu-icons {
    display: flex !important;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 20px;
  }

  .mobile-menu-icons img {
    width: 50px;
    height: auto;
  }

  .full-menu-link {
    text-align: center !important;
    padding-right: 0 !important;
    width: 100%;
  }

  .menu-body {
    flex-direction: column !important;
    justify-content: center !important;
    padding: 0 !important;
  }

  .slanted-menu {
    width: 100% !important;
    clip-path: none !important;
  }

  .login-title-container {
    padding-top: 120px;
    gap: 10px;
    justify-content: center !important;
    width: 100%;
  }

  .login {
    font-size: 28px;
  }

  .form {
    width: 90%;
    padding: 30px 20px;
    margin: 0 auto 40px auto;
  }

  .label {
    font-size: 18px;
  }

  .input {
    height: 45px;
    margin-bottom: 15px;
  }

  .button {
    height: 45px;
    margin-top: 10px;
  }
}