* {
  cursor: none !important;
}

body {
  margin: 0;
  background-image: url('../icon/back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/*捲軸外觀*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0e0105;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #F2285A;
  border-radius: 10px;
  border: 3px solid #0e0105;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F3E9EB;
}

html {
  scrollbar-color: #F2285A #0e0105;
  scrollbar-width: thin;
}


/*loading背景*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0105;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 11000;
}

/*霓虹圈圈*/
.neon-spinner {
  width: 100px;
  height: 100px;
  border: 6px solid rgba(255, 40, 90, 0.2);
  border-top: 6px solid #F2285A;
  border-radius: 50%;
  animation: spin 1s linear infinite, glow 1.5s ease-in-out infinite alternate;
  box-shadow: 0 0 10px #F2285A, 0 0 20px #F2285A, 0 0 30px #A18CD1, 0 0 40px #A18CD1;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*圈圈光暈*/
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #F2285A, 0 0 20px #F2285A, 0 0 30px #A18CD1, 0 0 40px #A18CD1;
  }

  100% {
    box-shadow: 0 0 20px #F2285A, 0 0 40px #F2285A, 0 0 60px #ff9a9e, 0 0 80px #fbc2eb, 0 0 100px #F2285A;
  }
}

.loading-text {
  margin-top: 15px;
  font-family: 'BBH Sans Hegarty', sans-serif;
  font-size: 2rem;
  color: #F2285A;
  text-shadow: 0 0 5px #F2285A, 0 0 10px #A18CD1;
  animation: textGlow 1.5s ease-in-out infinite alternate, floatUp 1s ease-in-out infinite alternate;
}

/*文字光暈*/
@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px #F2285A, 0 0 10px #A18CD1;
  }

  100% {
    text-shadow: 0 0 10px #F2285A, 0 0 20px #ff9a9e, 0 0 30px #fbc2eb;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*loading完前先隱藏所有內容*/
#main-content {
  display: none;
}


/*星星鼠標*/
#cursor-star {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 99999;
  display: none;
  filter: drop-shadow(0 0 5px rgba(255, 100, 150, 0.5));
}

/*拖尾小星星*/
.trail-star {
  position: absolute;
  z-index: 99998;
  opacity: 0.8;
  animation: fall 1s ease-in forwards;
}

.star-image {
  background-image: url('../icon/star.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  pointer-events: none;
}

#cursor-star.is-hovering {
  background-image: url('../icon/star2.png') !important;
}

/*star掉落動畫*/
@keyframes fall {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0.8);
    opacity: 0.8;
  }

  100% {
    transform: translate(var(--tx), 100px) rotate(180deg) scale(0);
    opacity: 0;
  }
}


/*HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
  z-index: 1060;
  pointer-events: none;
}

header a {
  pointer-events: auto;
}

.left-icon {
  height: 50px;
  width: auto;
}

.right-icons {
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  pointer-events: auto;
}

.like-icon {
  height: 50px;
  width: auto;
}

.login-icon {
  height: 40px;
  width: auto;
}


/*漢堡選單按鈕*/
#hamburger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1060;
  position: relative;
}

/*三條槓槓ㄉ容器*/
.hamburger-icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

/*三條槓槓初始設定*/
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #F2285A;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

/*線條初始位置*/
.hamburger-icon span:nth-child(1) {
  top: 0px;
}

.hamburger-icon span:nth-child(2) {
  top: 15px;
}

.hamburger-icon span:nth-child(3) {
  top: 30px;
}

/*變成 X +active*/
.hamburger-icon.active span:nth-child(1) {
  top: 10px;
  background: #F3E9EB;
  transform: rotate(135deg);
}

.hamburger-icon.active span:nth-child(2) {
  opacity: 0;
  background: #F3E9EB;
}

.hamburger-icon.active span:nth-child(3) {
  top: 10px;
  background: #F3E9EB;
  transform: rotate(-135deg);
}

/*側邊滑出選單*/
.slanted-menu {
  background-color: #0e0105;
  color: #F3E9EB;
  border: none;
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 0% 100%);
  width: 350px !important;
  transform-origin: top left;
  transform: translateX(100%) rotate(-15deg) !important;
  transition: transform 0.3s ease-out;
  visibility: hidden;
}

.offcanvas.show {
  transform: translateX(0) rotate(0deg) !important;
  visibility: visible;
}


.container {
  padding: 3rem 0;
}

/*選單容器*/
.menu-body {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem 4rem 1rem 0 !important;
}

.menu-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: block;
  width: 100%;
}

.full-menu-link {
  font-family: 'Konkhmer Sleokchher', sans-serif !important;
  font-size: 2.5rem !important;
  font-weight: 900 !important;
  color: #F3E9EB !important;
  text-transform: uppercase;
  padding: 10px 0;
  transition: 0.3s !important;
  display: block;
  text-align: right;
  text-decoration: none;
}

.full-menu-link:hover {
  color: #F2285A !important;
  padding-right: 20px !important;
}

.mobile-menu-icons {
  display: none;
}


/*yoasobi動態效果*/
.neon-section {
  width: 100%;
  height: 850px;
  background: #0e0105;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*防止跑出*/
}

.neon-text {
  font-size: 9.5rem;
  font-weight: 500;
  letter-spacing: 0;
  color: transparent;
  -webkit-text-stroke: 2px #F2285A;
  position: relative;
  overflow: visible;
  transform: scaleX(1.2);
  transform-origin: center;
  animation: glow 2s ease-in-out infinite alternate;
}

/*光暈*/
.neon-text::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.6) 50%,
      transparent 100%);
  transform: skewX(-20deg) translateX(-100%);
  animation: shine 3s linear infinite;
  z-index: 2;
}

@keyframes shine {
  0% {
    transform: skewX(-20deg) translateX(-100%);
    left: -100%;
  }

  60% {
    left: 100%;
  }

  100% {
    transform: skewX(-20deg) translateX(100%);
    left: 100%;
  }
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 10px #F2285A,
      0 0 20px #F2285A,
      0 0 30px #A18CD1,
      0 0 40px #A18CD1;
  }

  100% {
    text-shadow:
      0 0 20px #F2285A,
      0 0 40px #F2285A,
      0 0 60px #ff9a9e,
      0 0 80px #fbc2eb,
      0 0 100px #F2285A;
  }
}

/*NEW ALBUM區域*/
.album {
  width: auto;
  height: 777px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  background: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  padding: 0 !important;
}

#volumeCanvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 777px;
  /*設定波動的高度範圍*/
  z-index: 1;
  /*高於背景，低於圖片(z-index: 2)*/
  pointer-events: none;
  opacity: 1;
}

#blackredCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  pointer-events: none;
  opacity: 1;
}

.blackred-text {
  font-family: "Kay Pho Du", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;


  opacity: 0;
  transform: translateX(-150px);
  transition: opacity 1.2s ease, transform 1.2s ease;
  color: #F3E9EB;
  z-index: 4;
  opacity: 1;
}

.blackred-text.show {
  opacity: 1;
  transform: translateX(0);
}

.blackred-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: 4;
  cursor: pointer;
  opacity: 1;
}

/*LIVE區域*/
.live {
  position: relative;
  width: 100%;
  height: 777px;
  background: #0e0105;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  overflow: hidden;
  box-sizing: border-box;
}

/*讓煙霧背景脫離排版流，才不會卡位*/
.stage-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*讓滑鼠可以穿透它*/
  z-index: 1;
  /*確保它在背景*/
}

/*圖片特效*/
.neon-wrapper {
  position: relative;
  z-index: 3;
  transition: all 0.4s ease;
  line-height: 0;
  border-radius: 8px;

}

.neon-wrapper:hover {
  transform: translateY(-15px) scale(1.02);
  box-shadow:
    0 0 5px #F3E9EB,
    0 0 15px #F3E9EB,
    0 0 30px #F3E9EB,
    0 0 60px rgba(255, 255, 255, 0.5);
}

.live-img {
  width: 369px;
  height: 454px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

/*文字*/
.live-text {
  font-family: "Kay Pho Du", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  color: #F3E9EB;
  text-align: center;
  position: relative;
  z-index: 4;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.live-text.show {
  opacity: 1;
  transform: translateX(0);
}

/*煙霧特效*/
#smokeCanvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  filter: blur(20px);
  /*顆粒湖糊的*/
  opacity: 0.8;
}



/*footer*/
footer {
  background-color: #0e0105;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.word {
  width: 397px;
  height: 38px;
  opacity: 1;
  padding-top: 22px;
  padding-left: 33px;
  font-family: "Konkhmer Sleokchher";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #F2285A;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
}

.link img {
  width: 80px;
  height: 80px;
}


/*RWD<1024*/
@media (max-width: 1024px) {

  .album {
    height: 500px;
    padding: 0 !important;
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #volumeCanvas,
  #blackredCanvas {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
  }

  #volumeCanvas {
    z-index: 1;
  }

  #blackredCanvas {
    z-index: 4;
  }

  .blackred-img {
    padding-right: 0 !important;
    width: 50%;
    height: 100%;
    max-height: none;

    object-fit: contain;

    margin: 0;
    z-index: 4;
  }

  .blackred-text {
    flex: 1;
    text-align: center !important;
    font-size: 18px;
    z-index: 5;
    padding-left: 60px;
    padding-right: 30px;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.2s ease, transform 1.2s ease;
  }

  .blackred-text.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }

  .live {
    height: 500px;
    padding: 0 40px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .neon-wrapper {
    margin-left: 40px;
    z-index: 3;
  }

  .live-img {
    width: 300px;
    height: auto;
    object-fit: contain;
  }

  .live-text {
    flex: 1;
    text-align: center !important;
    font-size: 18px;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    z-index: 4;
  }

  .live-text.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }

  #cursor-star {
    display: none !important;
  }

  body {
    cursor: auto;
  }

  .click-effect-star {
    width: 50px;
    height: 50px;
  }
}

/*RWD<768*/
@media (max-width: 768px) {

  header .nav-icon {
    display: none !important;
  }

  .mobile-menu-icons {
    display: flex !important;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 20px;
  }

  .mobile-menu-icons img {
    width: 50px;
    height: auto;
  }

  .full-menu-link {
    text-align: center !important;
    padding-right: 0 !important;
    width: 100%;
  }

  .menu-body {
    flex-direction: column !important;
    justify-content: center !important;
    padding: 0 !important;
  }

  .slanted-menu {
    width: 100% !important;
    clip-path: none !important;
  }

  .neon-section {
    height: 100vh;
  }

  .neon-text {
    font-size: 15vw;
    transform: scaleX(1);
  }

  .album {
    height: auto;
    flex-direction: column-reverse;
    padding: 60px 20px;
    gap: 30px;
  }

  #volumeCanvas {
    height: 100% !important;
    opacity: 0.5;
  }

  .blackred-img {
    width: 60%;
    max-width: 200px;
    height: auto;
    padding-right: 0 !important;
    margin: 0 auto;
    background-color: transparent;
  }

  .blackred-text {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 0 !important;
    margin-bottom: 60px;
  }

  .live {
    height: auto;
    flex-direction: column;
    padding: 60px 20px;
    gap: 30px;
  }

  .neon-wrapper {
    order: 1;
    transform: none !important;
    margin-left: 0 !important;
  }

  .live-img {
    width: 80vw;
    max-width: 300px;
    height: auto;
  }

  .live-text {
    order: 2;
    width: 100%;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .live-text.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }

  #smokeCanvas {
    opacity: 0.3;
  }

  footer {
    height: auto;
    flex-direction: column-reverse;
    padding: 30px 0;
  }

  .word {
    width: auto;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }

  .link img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
}