

body {
    margin: 0;
    cursor: url('icon/mouse.png') 16 16, auto !important;

    /* 背景圖設定 */
    background-image: url('icon/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 背景固定 */
}
/*滑鼠*/
canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* 不影響滑鼠事件 */
    z-index: 9999; 
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    z-index: 1050;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    color: #F2285A;
    text-decoration: none;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #F3E9EB;
}

#login {
    color: #F3E9EB;
    background-color: #F2285A;
    display: inline-block;
    text-align: center;
    width: 105px;
    height: 45px;
    line-height: 45px;
    border-radius: 6px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#login:hover {
    background-color:#F3E9EB;
    color: #F2285A;
}

main {
    padding-top: 150px;
}

main img{
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

figcaption div{
    font-family: "M PLUS Rounded 1c", sans-serif;
}

main img:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 20px rgba(242, 40, 90, 0.6);
}


.likeline {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeline hr {
    border: none;
    height: 2px;
    background-color: #F2285A;
    flex: 0 0 296px;
    margin: 0 25px;
}

.likeline div {
    color: #F2285A;
    font-size: 40px;
    font-family: "Konkhmer Sleokchher";

}

