/* 往上跑動畫動畫 */
.fade-up {
  opacity: 0;
  transform: translateY(50px); /* 負往上 正往下 */
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/*CSS*/
body {
    margin: 0;
    cursor: url('icon/mouse.png') 16 16, auto !important;
    font-family: "Konkhmer Sleokchher";

    /* 背景圖設定 */
    background-image: url('icon/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 背景固定 */


}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* 不影響滑鼠事件 */
    z-index: 9999; 
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1050;
}

.icon {
    width: 117px;
    height: 34px;
}
/*nav bar*/
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    color: #F2285A;
    text-decoration: none;
    font-family: "Konkhmer Sleokchher";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #F3E9EB;
}

#login {
    color: #F3E9EB;
    background-color: #F2285A;
    display: inline-block;
    text-align: center;
    width: 105px;
    height: 45px;
    line-height: 45px;
    border-radius: 6px; 
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 60px;
}

#login:hover {
    background-color: #F3E9EB;
    color: #F2285A;
}

/* BODY */
main {
    padding-top: 60px;
    text-align: center;
    color: #F3E9EB;
}

main div {
    font-size: 36px;
    margin: 10px 0 0 0;
}

main hr {
    border: none;
    height: 2px;
    background-color: #F2285A;
    width: 297px;
    margin: 0 auto;
}

main img {
    margin-top: 40px;
    width: 977px;
    height:549px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

main img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

main p {
    font-size: 24px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.word {
    padding-left: 33px;
    font-size: 24px;
    color: #F2285A;
}

.link {
    display: flex;
    align-items: center;
}

.link img {
    width: 80px;
    height: 80px;

}
.yt{
        margin-right: 20px;
}