
/* 往上跑動畫動畫 */
.fade-up {
  opacity: 0;
  transform: translateY(90px); /* 負往上 正往下 */
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
html {
    background-color: #F3E9EB;
}

body {
    margin: 0;
    cursor: url('icon/mouse.png') 16 16, auto !important;
    font-family: 'Konkhmer Sleokchher', sans-serif;

    /* 背景圖設定 */
    background-image: url('icon/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 背景固定 */
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* 不影響滑鼠事件 */
    z-index: 9999; 
}
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    z-index: 1050;
}

.icon {
    width: 117px;
    height: 34px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    color: #F2285A;
    text-decoration: none;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #FFFFFF;
}

#login {
    color: #F3E9EB;
    background-color: #F2285A;
    display: inline-block;
    text-align: center;
    width: 105px;
    height: 45px;
    line-height: 45px;
    border-radius: 6px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#login:hover {
    background-color: #F3E9EB;
    color: #F2285A;
}


main {
    padding-top:150px;
}

.top {
    text-align: center;

}

.top img {
    width: 100%;
    max-width: 1098px;
    margin-bottom: 50px;
    object-fit: contain;

}

.top p {
        color:  #F3E9EB;
    font-size: 24px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.member {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
    width: 100%;
    max-width: 974px;
    transform: translateX(10px);
    margin-top: 80px;
}

.member figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
}

.member img {
    width: 100%;
    max-width: 330px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.mtitle {
    font-size: 32px;
    color:  #F3E9EB;

}

.mcontent {
    display: flex;
    align-items: center;
    gap: 16px;
    color:  #F3E9EB;

}

.member hr {
    border: none;
    width: 3px;
    background-color: #F2285A;
    height: 138px;
    margin-left: 5px;
}

.member .mcontent p {
    font-size: 24px;
    color: #F3E9EB;
}

.bottom {
    text-align: center;
}

.bottom div {
    font-size: 32px;
        color:  #F3E9EB;
    margin-top: 30px;
}

.bottom hr {
    border: none;
    height: 2px;
    background-color: #F2285A;
    width: 297px;
}

.bottom p {
    font-size: 24px;
    color:  #F3E9EB;
    margin-top: 40px;
}

footer {
    margin-top: 161px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.word {
    width: 397px;
    height: 38px;
    opacity: 1;
    padding-top: 22px;
    padding-left: 33px;
    font-family: "Konkhmer Sleokchher";
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F2285A;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
}

.link img {
    width: 80px;
    height: 80px;
}
